.topbar{
    width: 100%;
    height: 70px;
    background-color: white;
    position: sticky;
    top: 0;
    z-index: 999;
}
.topbarWarpper{
    height: 100%;
    padding: 0px  20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo{
    font-weight: bold;
    font-size: 40px;
    color: red;
    cursor: pointer;
}
.topRight{
    display: flex;
    cursor: pointer;
    align-items: center;
    color: #555;
}
.toparIconContainer{
    position: relative;
    margin-right: 10px;
}
.topiconBag{
    position: absolute;
    top: -5px;
    right: -5px;
    background-color: red;
    color: white;
    border-radius: 50%;
    width: 12px;
    height: 12px;
    font-size: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.topAvatar{
    font-size: 25px;
    border-radius: 50%;
    cursor: pointer;
}